
<div class="row mx-auto mt-5 mb-4 w-75 h-100" >
    <h3>Dashboard</h3>
</div>

<div class="row mx-auto mt-4 w-75 h-100" >
    <div class="col">
        <div class="card">
            <div class="card-body" >


                <div>
                    <canvas id="canvas">{{expenseschart}}</canvas>
                </div>


            </div>
        </div>
    </div>


    <div class="col">
        <div class="card">
            <div class="card-body">

                <div>
                    <canvas id="canvas2">{{investchart}}</canvas>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row mx-auto my-5 w-75 h-100" >
    <div class="col">
        <div class="card">
            <div class="card-body" >

            <img src="../../assets/sack-dollar.png" alt="" class="me-3" width="24px">
            Net Worth : {{networthnow}}


            </div>
        </div>
    </div>


    <div class="col">
        <div class="card">
            <div class="card-body">
                <img src="../../assets/loan2.png" alt="" class="me-3" width="36px">
                Loan : {{totalLoan}}

            </div>
        </div>
    </div>


    <div class="col">
        <div class="card">
            <div class="card-body">

                <img src="../../assets/piggy.png" alt="" class="me-3" width="24px">
                Total Investments : {{totalInvestment}}

            </div>
        </div>
    </div>

</div>


